# Ignora tutto per impostazione predefinita
*

# Non ignorare le cartelle (necessario per cercare file .md all'interno)
!*/

# Non ignorare i file Markdown
!*.md

# Non ignorare il file .gitignore stesso
!.gitignore

# Configurazione VS Code (Markdown PDF)
!.vscode/settings.json
!.vscode/pdf-style.css

# Asset grafici
!test_logo.png
